<% content_for(:title) do%>
    <%= t :new_task %>
<% end %>
<% content_for(:custom_js) do %>
    <%= javascript_include_tag 'jquery-ui-1.8.18.custom.min', 'autocomplete-rails' %>
<% end %>
<div class="new-task">
  <%= form_for(@task, :html => {:class => 'form-horizontal'}) do |f| %>
        <fieldset>
          <legend><%= t :new_task %></legend>
          <div class="control-group">
            <label class="control-label"><%= t :task_name %></label>
            <div class="controls">
              <%= f.text_field :title, :class => 'input-xxlarge' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t :description %></label>
            <div class="controls">
              <%= f.text_area :description, :class => 'input-xxlarge', :rows => 3 %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= t :city %></label>
            <div class="controls">
              <%= f.autocomplete_field :city, autocomplete_city_name_tasks_path, :class => 'input-xxlarge', :rows => 3 %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Disabled checkbox</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox"/>
                This is a disabled checkbox
              </label>
            </div>
          </div>
          <div class="form-actions base-panel clearfix">
            <%= f.submit :class => "btn btn-large btn-success pull-right" %>
          </div>
        </fieldset>
  <% end %>
</div>