<% content_for(:title) do%>
    <%= @task.title%> - <%= @task.project.title%>
<% end %>
<% content_for(:custom_js) do %>
    <%= javascript_include_tag 'task-project' %>
<% end %>

<div class="row">
  <div class="span3">
    <div class="avatar-box">
      <a href="<%= project_task_path @task.project, @task %>">
        <img src="/images/avatar.jpg" class="avatar" alt="image">
      </a>
      <% if can? :manage, @task %>
          <div class="avatar-upload-dialog">
            <span class="fileinput-button">
                <span><%= t(:edit_picture) %></span>
                <input id="avatar-upload" type="file" name="picture"
                       data-url="<%= upload_project_task_path(@task.project, @task) %>" multiple="multiple"/>
            </span>
          </div>
      <% end %>
    </div>
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @task, :block_id => 'participants',
                           :users => @task.participants, :title => t(:participators)} %>
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @task, :block_id => 'supporters',
                           :users => @task.users, :title => t(:supporters)} %>
  </div>
  <div class="span9 right-content">
    <div class="main-content">
      <div class="clearfix">
        <div class="span7">
          <div class="big-cool-text">
            <%= link_to @task.title, project_task_path(@task.project, @task)%>
            <span class="inline-status <%= task_status @task %>"><i class="<%= task_status_icon @task %> icon-white"></i>
              <%= t :"task.#{task_status @task}" %>
          </span>
          </div>
          <div class="big-cool-text-4 no-shadow right-a-bit-align">
            <%= link_to @task.project.title, @task.project%>
            <span class="by-author pull-right"><%= t(:by_author) %> <%= link_to @task.user.display_name, @task.user%></span>
            <%= render :partial => 'partials/location', :locals => {:stuff => @task} %>
          </div>
        </div>
        <%= render :partial => 'partials/voter', :locals => {:target => @task} %>
        <% participates_in_this = @task.participates_in_this?(current_user) %>
      </div>
      <div id="task-status" class="status">
        <% if participates_in_this %>
            <%= render :partial => 'partials/you_participate', :locals => {:task => @task}%>
        <% else %>
            <%= render :partial => 'partials/participators_count', :locals => {:task => @task}%>
        <% end %>
        <% if can? :manage, @task %>
            <%= render :partial => 'partials/manage', :locals => {:target => @task} %>
        <% end %>
      </div>
      <div class="base-panel gray-background span description">
        <%= simple_format @task.description %>
      </div>
      <div id="participate-button" class="pull-right">
        <% if not participates_in_this and task_status(@task) == :in_progress%>
            <%= render 'partials/participate_button'%>
        <% end %>
      </div>
      <div class="messages"></div>

    </div>
    <div class="related-content">
      <%= render :partial => 'partials/activity', :locals => {:target => @task} %>
    </div>

  </div>
</div>