<% content_for(:title) do%>
    <%= @task.title%> - <%= @task.project.title%>
<% end %>
<% content_for(:custom_js) do %>
    <%= javascript_include_tag 'task-project' %>
<% end %>

<div class="row">
  <div class="span3">
    <img src="/images/avatar.jpg" class="avatar" alt="image">
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @task, :block_id => 'participants',
                           :users => @task.participants, :title => t(:participators)} %>
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @task, :block_id => 'supporters',
                           :users => @task.users, :title => t(:supporters)} %>
  </div>
  <div class="span9 right-content">
    <div class="span7">
      <div class="big-cool-text"><%= link_to @task.title, project_task_path(@task.project, @task)%></div>
      <div class="big-cool-text-4 right-a-bit-align"><%= link_to @task.project.title, @task.project%>
        <span class="by-author pull-right">
          <%= t(:by_author) %> <%= link_to @task.user.display_name, @task.user%>
        </span>
      </div>
    </div>
    <%= render :partial => 'partials/voter', :locals => {:target => @task} %>
    <% participates_in_this = @task.participates_in_this?(current_user) %>
    <div id="task-status">
      <% if participates_in_this %>
          <%= render :partial => 'partials/you_participate', :locals => {:task => @task}%>
      <% else %>
          <%= render :partial => 'partials/participators_count', :locals => {:task => @task}%>
      <% end %>
    </div>
    <div class="base-panel gray-background span8">
      <% if @task.desc_more_than_1000? %>
          <div class="desc-sliced">
            <%= @task.desc_sliced_1000 %>
            <span class="desc-extension hide"><%= @task.desc_from_1000 %></span>
            <a class="desc-extension-link more" href="#"><%= t :more%>...</a>
            <a class="desc-extension-link hide-desc hide" href="#"><%= t :close%></a>
          </div>
      <% else %>
          <%= @task.description %>
      <% end %>
    </div>
    <div id="participate-button">
      <% unless participates_in_this %>
          <%= render 'partials/participate_button'%>
      <% end %>
    </div>
    <div class="messages"></div>
    <div class="related-content">
      <%= render :partial => 'partials/activity', :locals => {:target => @task} %>
    </div>

  </div>
</div>