<% content_for(:title) do%>
    <%= @task.project.title%> - <%= @task.title%>
<% end %>

<div>
  <div class="big-cool-text"><%= link_to @task.title, project_task_path(@task)%></div>
  <div class="big-cool-text-4 right-a-bit-align"><%= link_to @task.project.title, @task.project%></div>
  <div id="voter">like or not like</div>
</div>

<div class="base-panel gray-background descr-panel">
  <%= @task.description %>
</div>

<div class="group-header">
  <%= t(:people_who_participates_in) + ' ' + @task.title %>
</div>
<div class="base-panel">
  <% @task.participants.each do |user| %>
      <div class="row">
        <span class="span3"><%= link_to user.display_name, user %></span>
      </div>
  <% end %>
</div>

<div class="group-header">
  <%= t(:people_who_like) + ' ' + @task.title %>
</div>
<div class="base-panel">
  <% @task.users.each do |user| %>
      <div class="row">
        <span class="span3"><%= link_to user.display_name, user %></span>
      </div>
  <% end %>
</div>
