<%= form_for @user_info, :html => {:multipart => true}  do |f| %>

  <div class="field">
    <%= f.label :avatar %><br />
	<%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date%>
  </div>
  <div class="field">
    <%= f.label :about_myself %><br />
    <%= f.text_area :about_myself%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
