<% state ||= nil %>
<div class="news-single">
  <div class="news-single-face">
    <div>
      <a href="<%= user_path(activity.user) %>">
        <%= image_tag("user-icon-test.png") %>
      </a>
    </div>
  </div>
  <div class="news-single-body">
    <%= link_to activity.user.display_name, activity.user %> -
    <%= activity.text %>
  </div>
  <div class="news-single-info simple-gray">
    <i class="<%= activity.status == ACTIVITY_STATUS[:in_progress] ? 'icon-star-empty' : 'icon-star' %> icon-gray"></i>
    <%= format_date activity.created_at %>
    <div class="news-single-actions">
      <%= render :partial => 'partials/small_voter_new', :locals => {:target => activity} %>
    </div>
  </div>
  <hr/>
</div>