<script type="text/javascript">
    $(document).ready(function() {
        setNotificationCount();
        $("#notifications-dialog").slideDown(230);

        function setNotificationCount() {
            var readedCount = $(".notification-member.unread").length;
            if(readedCount != 0) {
                currentCount = $(".notifications-unread-count").html() - readedCount;
                if(currentCount > 0) {
                    $(".notifications-unread-count").html(currentCount);
                } else {
                    $(".notifications-count-container").hide();
                }
            }
        }
    })
</script>
<% if events_for_read_count > 0 %>
    <li class="header">
      <% if unread_exists %>
          <% if events_for_read_count > 3 %>
              <p><%=  t :new_notifications %>
                  <span class="view-more">
                    <%=link_to "("+t(:view_more)+")", get_new_notifications_notifications_path(),
                               :remote => true, :method => :post, :id => 'view-more'%>
                  </span>
              </p>
          <% else %>
              <p><%=  t :new_notifications %></p>
          <% end %>

      <%else%>
          <p><%= t :notifications %></p>
      <%end%>
    </li>
    <% if unread_exists %>
        <% events_for_read.each do |event| %>
           <li class="notification-member unread">
              <%= render :partial => event.notifications_template, :locals => {:event => event} %>
            </li>
        <% end %>
    <% else %>
        <% events_for_read.each do |event| %>
            <li class="notification-member">
              <%= render :partial => event.notifications_template, :locals => {:event => event} %>
            </li>
        <% end %>
    <% end %>
<% else %>
    <li class="header">
      <p><%= t :no_new_notifications %></p>
    </li>
<% end %>
