<script type="text/javascript">
    $(document).ready(function() {
        setNotificationCount();
        $("#notifications-dialog").slideDown(230);

        function setNotificationCount() {
            var readedCount = $(".notification-member").length;
            if(readedCount != 0) {
                currentCount = $(".notifications-unread-count").html() - readedCount;
                if(currentCount > 0) {
                    $(".notifications-unread-count").html(currentCount);
                } else {
                    $(".notifications-count-container").hide();
                }
            }
        }
    })
</script>
<% if events_for_read_count > 0 %>
    <li class="header">
      <p><%= t :new_notifications %></p>
      <% if events_for_read_count > 3 %>
      <p class="view-more">
        <%=link_to t(:view_more), get_new_notifications_notifications_path(),
                                         :remote => true, :method => :post, :id => 'view-more'%>        
      </p>
      <% else %>
          <p class="view-more" style="display: none">
            <%=link_to t(:view_more), get_new_notifications_notifications_path(),
                       :remote => true, :method => :post, :id => 'view-more'%>
          </p>
      <% end %>
    </li>
    <% events_for_read.each do |event| %>
       <li class="notification-member">
          <%= render :partial => event.notifications_template, :locals => {:event => event} %>
        </li>
    <% end %>
<% else %>
    <li class="header">
      <p><%= t :no_new_notifications %></p>
    </li>
<% end %>
