<% comments = target.comments %>
<div class="comments">
  <% if user_signed_in? %>
      <div class="comments-add-new">
        <%= form_for(prepare_for_path(target) + [ target.comments.build], :remote => true) do |f| %>
            <div>
              <%= f.text_area :text, :class => 'input-xlarge', :rows => '1', :placeholder => t(:add_comment) %>
            </div>
            <div>
              <%= f.submit t(:add),:class => 'btn hide' %>
            </div>
        <% end %>
      </div>
  <% end %>
  <div class="comments-content">
    <% if comments.count > 0%>
        <% comments.order('created_at desc').each do |comment| %>
            <div class="comment">
              <% if can? :destroy, comment %>
                  <%= link_to '×', prepare_for_path(target) + [comment], :remote => true,
                              :method => :delete, :class => 'close' %>
              <% end %>
              <div class="comment-face">
                <a href="<%= user_path(comment.user) %>">
                  <%= image_tag("user-icon-test.png") %>
                </a>
              </div>
              <div class="comment-body">
                <%= link_to comment.user.display_name, comment.user %> -
                <%= comment.text %>
              </div>
              <div class="comment-date simple-gray">
                <%= format_date comment.created_at %>
              </div>
              <hr/>
            </div>
        <% end %>
    <% else %>
        <%= t :no_comments_yet %>
    <% end %>
  </div>
</div>