<% state ||= nil %>
<div class="comment">
  <% if can? :destroy, comment %>
      <%= link_to '×', url_for(prepare_for_path(comment.target) + [comment]), :remote => true,
                  :method => :delete, :class => 'close', :'data-params' => "state=#{state}" %>
  <% end %>
  <div class="comment-face">
    <div>
      <a href="<%= user_path(comment.user) %>">
        <%= image_tag("user-icon-test.png") %>
      </a>
    </div>
  </div>
  <div class="comment-body">
    <%= link_to comment.user.display_name, comment.user %> -
    <%= comment.text %>
  </div>
  <div class="comment-info simple-gray">
    <i class="icon-comment icon-gray"></i>
    <%= format_date comment.created_at %>
    <div class="news-single-actions">
      <%= render :partial => 'partials/small_voter_new', :locals => {:target => comment} %>
    </div>
  </div>
  <hr/>
</div>