<a class="pull-right btn btn-small btn-manage" data-display="manage" href="#">
  <i class="icon-cog"></i>
  <%= t :manage %>
</a>
<div class="manage-dialog hide">
  <div class="popover bottom">
    <div class="arrow"></div>
    <div class="popover-inner">
      <div class="popover-content">
        <%= link_to '', :remote => true, :title => t(:complete_explanation), :class => 'btn' do %>
            <i class="icon-ok"></i>
            <%= t(:complete) %>
        <% end %>
        <%= link_to '', :remote => true, :title => t(:complete_explanation), :class => 'btn' do %>
            <i class="icon-remove"></i>
            <%= t(:to_cancel) %>
        <% end %>
      </div>
    </div>
  </div>
</div>