<div class="row">
  <span class="task-row-image"><img style="max-height: 32px; max-width: 32px;" src="/images/rails.png" alt="Image"/></span>
  <div class="task-row-content">
    <h4><%= link_to task.title, project_task_path(task.project, task) %></h4>
    <p>
      <span><%= task.desc_short %></span>
      <span class="pull-right span2 align-center small-project-link">
        <em><%= link_to task.project.title, task.project %></em>
      </span>
    </p>
    <span class="span1"><%= link_to t(:details), project_task_path(task.project, task) %></span>
  </div>
  <%= render :partial => 'partials/small_voter', :locals => {:target => task} %>
</div>