<div id="voter" class="span2">
  <%= link_to "", not_support_path(target), :remote => true,
              :class => 'btn btn-support no', :id => 'dont-supp-link' %>
  <%= link_to "", support_path(target), :remote => true,
              :class => 'btn btn-support yes', :id => 'supp-link' %>
  <% if vote = target.user_vote(current_user) %>
      <script type="text/javascript">
          changeLikerState(<%= vote.positive?%>)
      </script>
  <% end %>
  <div>
    <span id="rating" class="rating" title="<%= t :rating %>"><%= target.rating %></span>
    <span id="vote-count" class="rating" title="<%= t :total_votes %>"><%= target.votes_count %></span>
  </div>
</div>