<% people_count = task.users_count %>
<% more_than_one = people_count > 1 %>

<div class="<%= more_than_one ? 'span3' : 'span2' %> participators-count you-participate alert-success">
  <div>
    <% if more_than_one %>
        <%= t :you_and_many_participate, :people_count => people_count - 1%>
    <% else %>
        <%= t :you_participate%>
    <% end %>
  </div>
  <div class="pull-right">
    <%= link_to({:action => 'leave'},{:remote => true, :method => :post, :confirm => t(:are_you_sure)}) do %>
        <%= t(:leave_participation) %><i class="icon-share-alt icon-white"></i>
    <% end %>
  </div>
</div>