<%
   target_clazz = event.readable.target.class.name.downcase
   event_type = symbol_event_type(event)
%>
<div class="notifications-single">
  <div class="notifications-single-face">
    <div>
      <a href="<%= user_path(event.user) %>">
        <%= image_tag("user-icon-test.png") %>
      </a>
    </div>
  </div>
  <div class="notifications-single-body">
    <%= link_to event.readable.user.display_name, event.readable.user %> -
    <%= t :"vote.#{target_clazz}.#{event_type ? 'positive' : 'negative'}" %>
    <%= link_to prepare_title(event.readable.target), prepare_for_path(event.readable.target)%>
  </div>
</div>
