<p>
  <b>Title:</b>
  <%= @project.title%>
</p>

<p>
  <b>Problem:</b>
  <%= @project.problem %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<div class="group-header">
  Tasks
</div>
<div class="project-task">
  <% @project.tasks.each do |task| %>
  <div class="row">
    <span class="span3"><%= link_to task.title, project_task_path(task) %></span>
    <span class="span3"><%= task.desc_short %></span>
  </div>
  <% end %>
</div>

<div class="group-header">
  People who like this project
</div>
<div class="project-task">
  <% @project.users.each do |user| %>
  <div class="row">
    <span class="span3"><%= link_to user.display_name, user %></span>
  </div>
  <% end %>
</div>