<% content_for(:title) do%>
    <%= @project.title%>
<% end %>
<% content_for(:custom_js) do %>
    <%= javascript_include_tag 'task-project' %>
    <% if can? :manage, @project %>
        <%= javascript_include_tag 'jquery-ui-1.8.18.custom.min', 'jquery.iframe-transport', 'jquery.fileupload' %>
        <%= javascript_include_tag 'upload-picture' %>
    <% end %>
<% end %>

<div class="row">
  <div class="span3">
    <div class="avatar-box">
      <a href="<%= project_path @project %>">
        <img src="/images/avatar.jpg" class="avatar" alt="image">
      </a>
      <% if can? :manage, @project %>
          <div class="avatar-upload-dialog">
            <span class="fileinput-button">
                <span><%= t(:edit_picture) %></span>
                <input id="avatar-upload" type="file" name="picture" data-url="<%= upload_project_path(@project) %>" multiple="multiple"/>
            </span>
          </div>
      <% end %>
    </div>
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @project, :block_id => 'supporters',
                           :users => @project.users, :title => t(:supporters)} %>
  </div>
  <div class="span9 right-content">
    <div class="main-content">
      <div class="clearfix">
        <div class="span7">
          <div class="big-cool-text">
            <%= link_to @project.title, @project%>
            <span class="inline-status <%= project_status @project %>"><i class="<%= project_status_icon @project %> icon-white"></i>
              <%= t :"project.#{project_status @project}" %>
          </span>
          </div>
          <div class="big-cool-text-4 right-a-bit-align">
            <%= "#{t(:because)} - #{@project.problem.title}" unless @project.problem.nil?%>
            <% unless @project.id == 1 %>
            <span class="by-author pull-right">
              <%= t(:by_author) %> <%= link_to @project.user.display_name, @project.user%>
            </span>
            <% end %>
            <%= render :partial => 'partials/location', :locals => {:stuff => @project} %>
          </div>
        </div>
        <%= render :partial => 'partials/voter', :locals => {:target => @project} %>
        <% participates_in_this = @project.participates_in_this?(current_user) %>
      </div>
      <div id="project-status" class="status">
        <% if participates_in_this %>
            <%= render :partial => 'partials/you_participate_in_project', :locals => {:project => @project}%>
        <% else %>
            <%= render :partial => 'partials/project_participators_count', :locals => {:project => @project}%>
        <% end %>
        <% if can? :manage, @project %>
            <%= render :partial => 'partials/manage', :locals => {:target => @project} %>
        <% end %>
      </div>
      <div class="base-panel gray-background span description">
        <%= simple_format @project.description %>
      </div>
      <div class="messages"></div>
    </div>
    <div class="related-content">
      <div class="related-tasks">
        <%= render :partial => 'partials/tasks/block',
                   :locals => {:show_all_path => tasks_project_path(@project, {:order => :votes}), :title => t(:most_popular),
                               :tasks => @project.most_valuable_tasks.limit(3),
                               :limit => true } %>
        <%= render :partial => 'partials/tasks/block',
                   :locals => {:show_all_path => tasks_project_path(@project, {:order => :updated, :status => :completed}), :title => t(:recently_completed_tasks),
                               :tasks => @project.tasks.where(:status => TASK_STATUS[:completed]).order("updated_at desc").limit(3),
                               :limit => true} %>
      </div>
      <%= render :partial => 'partials/activity', :locals => {:target => @project} %>
    </div>
  </div>
</div>