<% content_for(:title) do%>
    <%= @project.title%>
<% end %>
<% content_for(:custom_js) do %>
    <%= javascript_include_tag 'task-project' %>
<% end %>

<div class="row">
  <div class="span3">
    <img src="/images/avatar.jpg" class="avatar" alt="image">
    <%= render :partial => 'partials/users_block',
               :locals => {:target => @project, :block_id => 'supporters',
                           :users => @project.users, :title => t(:supporters)} %>
  </div>
  <div class="span9 right-content">
    <div class="main-content">
      <div class="span7">
        <div class="big-cool-text"><%= link_to @project.title, @project%></div>
        <div class="big-cool-text-4 right-a-bit-align"><%= "#{t(:because)} - #{@project.problem.title}" %>
          <span class="by-author pull-right">
          <%= t(:by_author) %> <%= link_to @project.user.display_name, @project.user%>
        </span>
        </div>
      </div>
      <%= render :partial => 'partials/voter', :locals => {:target => @project} %>
      <% participates_in_this = @project.participates_in_this?(current_user) %>
      <div id="project-status" class="status">
        <% if participates_in_this %>
            <%= render :partial => 'partials/you_participate_in_project', :locals => {:project => @project}%>
        <% else %>
            <%= render :partial => 'partials/project_participators_count', :locals => {:project => @project}%>
        <% end %>
      </div>
      <% if can? :manage, @project %>
          <a class="pull-right btn btn-small btn-manage" data-display="manage" href="#">
            <i class="icon-cog"></i>
            Manage
          </a>
      <% end %>
      <div class="base-panel gray-background span description">
        <% if @project.desc_more_than_1000? %>
            <div class="desc-sliced">
              <%= @project.desc_sliced_1000 %>
              <span class="desc-extension hide"><%= @project.desc_from_1000 %></span>
              <a class="desc-extension-link more" href="#"><%= t :more%>...</a>
              <a class="desc-extension-link hide-desc hide" href="#"><%= t :close%></a>
            </div>
        <% else %>
            <%= @project.description %>
        <% end %>
      </div>
      <div class="messages"></div>
    </div>
    <div class="related-content">
      <div class="group-header">
        <%= t :tasks%>
      </div>
      <div class="base-panel">
        <%= render :partial => 'partials/task_row', :collection => @project.tasks, :as => :task %>
      </div>
      <%= render :partial => 'partials/activity', :locals => {:target => @project} %>
    </div>
  </div>
</div>