<% content_for(:custom_js) do %>
    <% if can? :manage, @user %>
        <%= javascript_include_tag 'jquery-ui-1.8.18.custom.min', 'jquery.iframe-transport', 'jquery.fileupload' %>
        <%= javascript_include_tag 'upload-picture' %>
    <% end %>
<% end %>
<div class="user-page">
  <% content_for(:title) do%>
      <%= @user.nickname%>
  <% end %>
  <div class="user-page-main clearfix">
    <div class="user-left-panel">
      <div class="user-avatar avatar-box">
        <a href="<%= user_path @user %>">
          <img src="/images/bruce.jpg" class="avatar" alt="image">
        </a>
        <% if can? :manage, @user %>
            <div class="avatar-upload-dialog">
              <%= form_tag user_upload_path(@user), :multipart => true do %>
                <span class="fileinput-button">
                  <span><%= t(:edit_picture) %></span>
                  <%= file_field_tag 'avatar-upload', :name => 'picture' %>
                </span>
              <% end %>
            </div>
        <% end %>
      </div>
      <%= render :partial => 'partials/tasks/simple_block',
                 :locals => {:show_all_path => '', :title => t(:supports),
                             :tasks => @user.voted_tasks.limit(3),
                             :limit => true } %>
      <%= render :partial => 'partials/tasks/simple_block',
                 :locals => {:show_all_path => '', :title => t(:recently_completed),
                             :tasks => @user.tasks.where(:status => TASK_STATUS[:completed]).order("updated_at desc").limit(3),
                             :limit => true } %>
    </div>
    <div class="user-main-content">
      <div class="pull-left">
        <h1 class="user-name big-cool-text">
          <%= link_to @user.nickname, @user %>
        </h1>
        <div class="user-rating">
          <h1>
            <%= @user.rating %>
          </h1>
          <div class="user-rating-title"><%= t :rating %></div>
        </div>
      </div>
      <hr/>
      <div class="other-stuff">
        <div class="user-info">
          <% unless @user.user_info.city.nil? %>
              <div class="row">
                <div class="span1n5">
                  <%= t :location %>
                </div>
                <div class="span4">
                  <%= render :partial => 'partials/location', :locals => {:stuff => @user.user_info} %>
                </div>
              </div>
          <% end %>
          <% unless @user.user_info.website.nil? %>
              <div class="row">
                <div class="span1n5">
                  <%= t :website %>
                </div>
                <div class="span4">
                  <%= link_to @user.user_info.website, prepare_url(@user.user_info.website) %>
                </div>
              </div>
          <% end %>
        </div>
        <% unless @user.user_info.city.nil? and @user.user_info.website.nil? %>
            <hr/>
        <% end %>
        <div>
          <% if @user.active_tasks.count > 0 or @user.completed_tasks.count > 0%>
              <div class="participates-in gray-background base-block">
                <% if @user.active_tasks.count > 0 %>
                    <div>
                      <h5><%= t :active_tasks %></h5>
                      <%= render :partial => 'partials/task_row', :collection => @user.active_tasks.limit(3), :as => :task %>
                    </div>
                <% end %>
                <% if @user.completed_tasks.count > 0 %>
                    <div>
                      <h5><%= t :completed_tasks %></h5>
                      <%= render :partial => 'partials/task_row', :collection => @user.completed_tasks.limit(3), :as => :task %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
        <div class="user-news">
          <div class="">
            <div class="title">
              <span class="label label-success">
                <% if can? :manage, @user %>
                    <%= t(:'news.news') %>
                <% else %>
                    <%= t(:activity_of, :user => @user.display_name) %>
                <% end %>
              </span>
              <hr/>
            </div>
            <div class="activity-content">
              <% if can? :manage, @user %>
                  <%= render :partial => 'partials/user/all_news', :locals => {:target => @user.user_info, :no_new_comment_form => true} %>
              <% else %>
                  <%= render :partial => 'partials/user/all_news', :locals => {:no_new_comment_form => true,
                                                                               :events => @user.created_related_events} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>