<% name = UserHelper.nick(@user) %>

<% if is_current_user_page? @user %>
    Hallo <%= name %>. This is <span style="color: blue;">Your</span> page.
<% else %>
    This is <%= name %>'s page
<% end %>

<% if can? :update, @user_info %>
    <p>
        <%= link_to 'Edit Info', :controller => :user_info, :action => :edit, :id => @user_info.id %>
    </p>
<% end %>

<p>
  <% if @user_info.avatar.present? %>
    <%= image_tag @user_info.avatar.url(:medium) %>
  <% else %>
    <%= image_tag("default_man.png", :alt => 'wtf') %>
  <% end %>
</p>

<p>
  <b>First Name:</b>
  <%= @user_info.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user_info.last_name %>
</p>

<p>
  <b>About Myself:</b>
  <%= @user_info.about_myself %>
</p>

<div class="related-content">
  <div class="group-header">
    Tasks you participate in
  </div>
  <div class="base-panel">
    <%= render :partial => 'partials/task_row', :collection => @user.tasks, :as => :task %>
  </div>

  <div class="group-header">
    Projects you like
  </div>
  <div class="project-task">
    <% @user.voted_projects.each do |project| %>
        <div class="row">
          <span class="span3"><%= link_to project.title, project %></span>
          <span class="span3"><%= project.desc_short%></span>
        </div>
    <% end %>
  </div>

  <div class="group-header">
    Tasks you like
  </div>
  <div class="project-task">
    <% @user.voted_tasks.each do |task| %>
        <div class="row">
          <span class="span3"><%= link_to task.title, project_task_path(task.project, task) %></span>
          <span class="span3"><%= link_to task.project.title, task.project %></span>
          <span class="span3"><%= task.desc_short%></span>
        </div>
    <% end %>
  </div>
</div>