<div class="user-page">
  <% content_for(:title) do%>
      <%= @user.nickname%>
  <% end %>
  <div class="blue-gradient well user-page-main clearfix">
    <div class="user-avatar">
      <img src="/images/bruce.jpg" class="avatar" alt="image">
    </div>
    <div class="user-main-content">
      <h1 class="user-name" title="<%= @user.nickname %>">
        <%= @user.nickname %>
      </h1>
      <h1 class="user-rating" title="Rating - <%= @user.rating %>">
        Rating - <%= @user.rating %>
      </h1>
      <div class="other-stuff">
        <%= render :partial => 'partials/tasks/block',
                   :locals => {:show_all_path => '', :title => t(:recently_completed),
                               :tasks => @user.tasks.where(:status => TASK_STATUS[:completed])
                               .order("updated_at desc").limit(3),
                               :limit => true } %>
      </div>
    </div>
  </div>

  <div class="related-content">
    <div class="group-header">
      Tasks you participate in
    </div>
    <div class="base-panel">
      <%= render :partial => 'partials/task_row', :collection => @user.tasks, :as => :task %>
    </div>

    <div class="group-header">
      Projects you like
    </div>
    <div class="project-task">
      <% @user.voted_projects.each do |project| %>
          <div class="row">
            <span class="span3"><%= link_to project.title, project %></span>
            <span class="span3"><%= project.desc_short%></span>
          </div>
      <% end %>
    </div>

    <div class="group-header">
      Tasks you like
    </div>
    <div class="project-task">
      <% @user.voted_tasks.each do |task| %>
          <div class="row">
            <span class="span3"><%= link_to task.title, project_task_path(task.project, task) %></span>
            <span class="span3"><%= link_to task.project.title, task.project %></span>
            <span class="span3"><%= task.desc_short%></span>
          </div>
      <% end %>
    </div>
  </div>
</div>