<div class="header-container">
  <h2>
    <a href="/" class="logo">Things to be done</a>
  </h2>
  <ul class="nav">
    <% if user_signed_in? %>
        <li><%= link_to t(:sign_out), destroy_user_session_path, :method => :delete, :class => "btn-success" %></li>
    <% else %>
        <li><%= link_to 'facebook',
                        user_omniauth_authorize_path(:facebook), :class => "fb-login-button btn-success",
                        :id => "fb_login", :"data-width" => 600, :"data-height" => 400 %></li>
        <li><%= link_to t(:sign_in), '', :class => "btn-success", :id => "sign-in-link" %></li>
    <% end %>
  </ul>

  <div id="login-dialog">
    <div id="login-dialog-content">
      <%= form_for("user", :url => user_session_path) do |f| %>
          <div class="row">
            <%= f.label "E-mail", :class => 'span1' %>
            <span class="span2">
            <%= f.text_field :email, :size => 20, :class => 'span2-2' %>
          </span>
          </div>
          <div class="row">
            <%= f.label t(:password), :class => 'span1' %>
            <span class="span2">
            <%= f.password_field :password, :size => 20, :class => 'span2-2' %>
          </span>
          </div>
          <div class="row">
            <%= link_to t(:forgot_password), new_password_path('user'), :class => 'span3' %>
          </div>
          <div class="row">
            <span class="span3 controls">
              <button class="btn" type="button" id="cancel-btn"><%= t(:cancel) %></button>
              <%= f.submit t(:sign_in), :class => 'btn-success', :id => 'submit-btn' %>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>


<script>
    $(function() {
        $( "#sign-in-link" ).click(function() {
            $("#login-dialog").slideDown(230);
            return false;
        });
        $("#cancel-btn").click(function(){
            $("#login-dialog").slideUp(230);
            return false;
        });
        $("#fb_login").click(function(e) {
            popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
            e.stopPropagation(); return false;
        });
    });
</script>