<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'things to be done. what to fix' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.7.1.min', 'jquery-ui-1.8.17.custom.min', 'rails', 'autocomplete-rails', 'bootstrap', 'application.js' %>
  <%= yield :custom_js %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
  <%= render 'layouts/header' %>
</header>
<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="footer-container">
    <ul class="footer-links">
      <li><a href="/"><%= t :about_us %></a></li>
      <li><a href="/"><%= t :about_them %></a></li>
      <li><a href="http://okendoken.com/"><%= t :cool_blog %></a></li>
      <li>Copyright Okake ©2012. All rights really reserved.</li>
    </ul>
  </div>
</footer>
</body>
</html>
